<div class="quiz-container">
  <div class="quiz-container-timer">
    <span>{{ timer }}</span>
  </div>
  <div class="quiz-container-score">
    <span>Score : {{ currentGameScore$ | async }}</span>
    <ng-container *ngIf="highScore$ | async as value">
      <span *ngIf="value !== 0">HighScore : {{ value }}</span>
    </ng-container>
  </div>
  <div class="quiz-container-title">
    <h1>Quiz page</h1>
  </div>
  <div class="quiz-container-question">
    <h3>Did {{ (rondomActor$ | async)?.name }} has play in {{ (rondomMovie$ | async)?.title }}? </h3>
  </div>
  <div class="quiz-container-button">
    <button (click)="answer(false)">No</button>
    <button (click)="answer(true)">Yes</button>
  </div>
</div>