.quiz-container {
    flex-direction: column;
    display: flex;
    text-align: center;


    &-score {
        position: absolute;
        right: 47px;
    }


    &-question {
        h3 {
            font-size: 25px;
        }
    }
}