.quiz-container {
    flex-direction: column;
    display: flex;
    text-align: center;

    &-title {
        margin-top: 20px;
    }

     &-timer {
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 10px;

        &-green {
            color: green;
        }

        &-orange {
            color: orange;
        }

        &-red {
            color: red;
        }
    }

    &-score {
        position: absolute;
        right: 47px;
        font-size: 20px;
        top: 10px;

        :first-child{
            margin-right: 20px;
        }
    }

    &-question {
        h3 {
            font-size: 25px;
        }
    }

    &-cover {
        width: fit-content;
            flex-direction: row;
            display: flex;
            margin: 0 auto;

        img {
            height: 500px;
        }
        
        :first-child{
            margin-right: 20px;
        }
        :last-child{
            margin-left: 20px;
        }
        margin-bottom: 20px;
    }

    &-button {
        width: fit-content;
        flex-direction: row;
        display: flex;
        margin: 0 auto;
        
        :first-child{
            margin-right: 20px;
        }
        :last-child{
            margin-left: 20px;
        }
        margin-bottom: 20px;
    }
}